@import "../global/variables";

body {
  margin: 0;
}

.body-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main {
  width: 78%;
  margin-left: 22%;
}

h1, h2{
  font-family: $font-title;
  font-weight: 400;
  color: white;
  margin: 0;
}

h3, h4{
  font-family: $font-title;
}

p{
@include font-light;
  margin: 0;
}

