$color-black: #000;
$font-serif:  "Qene-G-Demo", sans-serif;
$font-title:  "effra", sans-serif;

@mixin font-light {
    font-family: "effra", sans-serif;
    font-weight: 300;
    font-style: italic;
  }