.start{
    h1{
        font-family: $font-serif;
        font-size: 130px;
        @media (max-width: 1550px) {
        font-size: 67px !important;
           }
    }
    p{
        text-align: center;

    }
}

.about{

    &-text{
        align-self: flex-end;
        font-style: italic;
        padding-left: 25% !important;
        @media (max-width: 1550px) {
           padding: 0 !important;
          }
      
        p{
            text-align: left;
            font-size: 30px !important;
            @media (max-width: 1550px) {
                font-size: 22px !important;
              }
          
        }
    }

    &-title{
        @media (max-width: 768px) {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;}
        h2{
                    font-size: 115px;
                    @media (max-width: 768px) {
                font-size: 56px !important;
                width: 100% !important;
                       }
                }
                h2:nth-child(2){
               padding-left: 12%;
               @media (max-width: 768px) {
               padding-left: 0;
              }
            }
            h2:nth-child(3){
              padding-left: 25%;
              @media (max-width: 768px) {
                padding-left: 0;
               }
            }}
            &-artist{
                overflow: hidden;
                h3{
                   font-size: 65px;
                }
           h4{
            font-size: 50px;
            @include font-light;
           }
           p{@include font-light;
            font-size: 20px;
            line-height: 30px;
            @media (max-width: 1550px) {
           line-height: 40px;
              }
          
        }
            }
}

