.spectacle-chronique{
    &-h1{
        visibility: hidden;
        height: 0;
    }
        &-title{
            @media (max-width: 768px) {
                display: flex;
                flex-direction: column !important;
                justify-content: center !important;
                align-items: center !important;}
            h2{
                font-size: 115px;
                @media (max-width: 1500px) {
                    font-size: 72px !important;
                 
                     }
                @media (max-width: 768px) {
                  font-size: 46px !important;
                  line-height: 50px;
                   }
            }
            h2:nth-child(2){
                   padding-left: 1em;
                   @media (max-width: 768px) {
                  padding: 0;
                     }
                }
        h2:nth-child(3){
            padding-left: 1em;
            @media (max-width: 768px) {
                padding: 0;
                text-align: center;
                   }
                }}
          
    &-text1{
        p{
        text-align: left;
        @media (max-width: 768px) {
       
            text-align: center;
               }
    }
    }

    &-video{
        figure{
            margin: 0;
        }
        iframe{
            width: 100%;
            height: 100vh;
        }
    }

    &-graphic{
        height: 100%;
    }
}
